<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>

<!-- info section -->
<section class="info_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="info_menu">
                    <h5>
                        QUICK LINKS
                    </h5>
                    <ul class="navbar-nav  ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/?index=">미美취라 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="meeting.html"> 모임 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sharing.html"> 공유 </a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="event.html"> Events </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="contact.html">Contact us</a>
                        </li> -->
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="register.html">회원가입</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info_course">
                    <h5>
                        "미美취라"
                    </h5>
                    <p>
                        무료한 당신을 위해 미美취라가 준비했다
                        취향으로 골라가는 취미를 얻어가자
                    </p>
                    <div class="info_news">
                        <form action="/?index=">
                            <button>
                                미美취라
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-1">
                <div class="info_news">
                    <h5>
                        "미美취라"
                    </h5>
                    <div class="info_contact">
                        <a href="">
                            주소: 서울시 금천구 가산동 426-5 월드메르디앙
                        </a>
                        <a href="">
                            이메일: kosmo@gmail.com
                        </a>
                        <a href="">
                            전화번호: +01 1234567890
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/js/app/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/app/js/bootstrap.js"></script>

<!-- end info section -->
</body>
</html>