.nav-header {
  background-color: #fff9e6;
}

#eventcolor {
  background-color: #ffffff;
  border-radius: 30px;
}

.main-back {
  background-image: url("assets/img/ivo.png");
}

.footerColor {
  color: #000000;
}
