{{>layout/header}}

<!-- slider section -->
<section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        Whst's your Favorite?
                                    </h1>
                                    <!-- <a href="">
                                      다양한 모임 보러가기
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        <img src="/js/app/images/right.png"/> 여러분은 어떤 일상을 보내고 계십니까? <img src="/js/app/images/left.png"/>
                                    </h1>
                                    <a href="">
                                        일상 게시판 보러가기
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="detail-box">
                                <div>
                                    <h1>
                                        <img src="/js/app/images/right.png"/> 새로운 친구와 다양한 일상을 즐겨요 <img src="/js/app/images/left.png"/>
                                    </h1>
                                    <a href="">
                                        모임 게시판 보러가기
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
</div>


<!-- about section -->
<section class="about_section layout_padding">
    <div class="side_img">
        <img src="/js/app/images/side-img.png" alt="" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img_container">
                    <div class="img-box b1">
                        <img src="/js/app/images/jump.jpg" style="width: 520px; height: 380px;" alt="" />
                    </div>
                    <div class="img-box b2">
                        <img src="/js/app/images/ipon.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h3>
                            평범한 일상에 지루해진 우리
                        </h3>
                        <p style="font-weight: bold;">
                            심심한 일상 속,<br>
                            <img src="/js/app/images/first.png"/> 새로운 것을 도전하고 싶지만 혼자가 외로울 때,<br>
                            <img src="/js/app/images/second.png"/> 새로운 사람을 만나는 것이 어려울 때, <br>
                            이야기 나누며 소통해 보아요.
                        </p>
                        <a href="">
                            일상 게시판 보러가기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->

<!-- course section -->

<section class="course_section layout_padding-bottom">
    <div class="side_img">
        <img src="/js/app/images/side-img.png" alt="" />
    </div>
    <div class="container">
        <div class="heading_container">
            <h3>
                다양한 취미 함께 즐겨요
            </h3>
            <p>
                즐거운 경험 함께하고 특별한 하루를 만들어요!
            </p>
        </div>
        <div class="course_container">
            <div class="course_content">
                <div class="box">
                    <img src="/js/app/images/Christmas.jpg" style="height: 322.02px;" alt="크리스마스" />
                    <a href="" class="">
                        <img src="/js/app/images/link.png" alt="" />
                    </a>
                    <h5>
                        크리스마스 <br />
                        카드 함께 꾸며요
                    </h5>
                </div>
                <div class="box">
                    <img src="/js/app/images/lottWorld.jpg" style="height: 322.02px;" alt="롯데월드" />
                    <a href="" class="">
                        <img src="/js/app/images/link.png" alt="" />
                    </a>
                    <h5>
                        12월 18일<br />
                        롯데월드 같이 가실 분~?
                    </h5>
                </div>
            </div>
            <div class="course_content">
                <div class="box">
                    <img src="/js/app/images/study.jpg" style="height: 353.39px;" alt="공부" />
                    <a href="" class="">
                        <img src="/js/app/images/link.png" alt="" />
                    </a>
                    <h5>
                        매주 토요일,
                        java 언어 공부하실 분 구합니다
                    </h5>
                </div>
                <div class="box">
                    <img src="/js/app/images/mask.jpg" alt="비즈" />
                    <a href="" class="">
                        <img src="/js/app/images/link.png" alt="" />
                    </a>
                    <h5>
                        비즈로 <br />
                        마스크 줄 함께 만들어요.
                    </h5>
                </div>
                <div class="box">
                    <img src="/js/app/images/cafe.jpg" alt="카페" />
                    <a href="" class="">
                        <img src="/js/app/images/link.png" alt="" />
                    </a>
                    <h5>
                        2022년! 1월에 합정 <br/>
                        카페 투어하실 분있나용?!
                    </h5>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                모임 게시판 보러가기
            </a>
        </div>
    </div>
</section>

<!-- end course section -->


<!-- 후기 section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h3>
                미美취라의 후기
            </h3>
            <p style="font-weight: bold;">
                모임 참가하기를 망설이고 있다면?! 망설이지 말아요~
            </p>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="box">
                        <div class="img-box">
                            <img src="/js/app/images/puppy.jpg" style="width: 105px; height: 105px;" alt="강아지 프로필" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                내 사랑 강얼쥐
                            </h5>
                            <p>
                                강아지가 혼자 있는 시간이 많아서 하루에 한 번은 어떻게는 꼭 산책시키려고 노력하는데
                                혼자 산책하기 심심해서 한 번 의심 반으로 사용하게 되었는데 저는 동네 친구 사귀고
                                저희 집 강아지도 친구 생겼네요~ ㅋㅋㅋㅋㅋ 좋습니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/js/app/images/sea.jpeg" style="width: 105px; height: 105px;" alt="바다 프로필" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                여름 바다 보러 갔다왔어요
                            </h5>
                            <p>
                                바다가 너무 보고 싶었는데 혼자 가기는 심심하고 같이 시간 맞는 친구가 없었는데,
                                친구 추천으로 미美취라 사이트를 알게 되어서 새로운 사람들 만나 같이 다녀왔는데
                                넘 즐거운 하루가 되었네요. 자주 들를 것 같아요~~
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="img-box">
                            <img src="/js/app/images/chick.png" alt="병아리 프로필" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                소통 좋아요~
                            </h5>
                            <p>
                                코로나때문에 집에 있는 시간이 길어져서 넘 심심했는데
                                미美취라 사이트에서 다양한 사람들이랑 일상에 대해 소통할 수 있어서
                                넘 좋은 것 같아요!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->


{{>layout/footer}}