<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>미美취라</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../../../../../joson%20(2)/css/bootstrap.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../../../../../joson%20(2)/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../../../../../joson%20(2)/css/responsive.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" href="../../../../../joson%20(2)/images/favicon.ico" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="../../../../../joson%20(2)/index.html">
            <h3>
              미美취라
            </h3>
            <span> hobby</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="../../../../../joson%20(2)/index.html">미美취라 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="meeting.mustache"> Meeting </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sharing.html"> sharing </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="event.html"> Events </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact us</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="../../../../../joson%20(2)/login.html">Login</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

 <!-- course section -->

 <section class="course_section layout_padding-bottom" style="margin-top: 40px;">
  <div class="side_img">
    <img src="../../../../../joson%20(2)/images/side-img.png" alt="" />
  </div>
  <div class="container">
    <div class="heading_container">
      <h3>
        다양한 취미 함께 즐겨요
      </h3>
      <p>
        즐거운 경험 함께하고 특별한 하루를 만들어요!
      </p>
    </div>
    <div class="course_container">
      <div class="course_content">
        <div class="box">
          <img src="../../../../../joson%20(2)/images/Christmas.jpg" style="height: 322.02px;" alt="크리스마스" />
          <a href="" class="">
            <img src="../../../../../joson%20(2)/images/link.png" alt="" />
          </a>
          <h5>
            크리스마스 <br />
            카드 함께 꾸며요
          </h5>
        </div>
        <div class="box">
          <img src="../../../../../joson%20(2)/images/lottWorld.jpg" style="height: 322.02px;" alt="롯데월드" />
          <a href="" class="">
            <img src="../../../../../joson%20(2)/images/link.png" alt="" />
          </a>
          <h5>
            12월 18일<br />
            롯데월드 같이 가실 분~?
          </h5>
        </div>
      </div>
      <div class="course_content">
        <div class="box">
          <img src="../../../../../joson%20(2)/images/study.jpg" style="height: 353.39px;" alt="공부" />
          <a href="" class="">
            <img src="../../../../../joson%20(2)/images/link.png" alt="" />
          </a>
          <h5>
            매주 토요일,
            java 언어 공부하실 분 구합니다
          </h5>
        </div>
        <div class="box">
          <img src="../../../../../joson%20(2)/images/mask.jpg" alt="비즈" />
          <a href="" class="">
            <img src="../../../../../joson%20(2)/images/link.png" alt="" />
          </a>
          <h5>
            비즈로 <br />
            마스크 줄 함께 만들어요.
          </h5>
        </div>
        <div class="box">
          <img src="../../../../../joson%20(2)/images/cafe.jpg" alt="카페" />
          <a href="" class="">
            <img src="../../../../../joson%20(2)/images/link.png" alt="" />
          </a>
          <h5>
            2022년! 1월에 합정 <br/>
            카페 투어하실 분있나용?!
          </h5>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        모임 게시판 보러가기
      </a>
    </div>
  </div>
</section>

<!-- end course section -->

  <!-- info section -->
 <section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_menu">
          <h5>
            QUICK LINKS
          </h5>
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="../../../../../joson%20(2)/index.html">미美취라 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="meeting.mustache"> 모임 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sharing.html"> 공유 </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="event.html"> Events </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact us</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="register.html">회원가입</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_course">
          <h5>
            "미美취라"
          </h5>
          <p>
            무료한 당신을 위해 미美취라가 준비했다
            취향으로 골라가는 취미를 얻어가자
          </p>
          <div class="info_news">
            <form action="../../../../../joson%20(2)/index.html">
              <button>
                미美취라
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-5 offset-md-1">
        <div class="info_news">
          <h5>
            "미美취라"
          </h5>
          <div class="info_contact">
            <a href="">
              주소: 서울시 금천구 가산동 426-5 월드메르디앙
            </a>
            <a href="">
              이메일: kosmo@gmail.com
            </a>
            <a href="">
              전화번호: +01 1234567890
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->

  <!-- footer section -->
  <!-- <footer class="container-fluid footer_section">
    <p>
      &copy; 2021 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  
  </footer>

   
  <footer class="container-fluid footer_section">
  
      <p>
        Distributed By 
        <a href="https://themewagon.com/">Themewagon</a>
      </p>
  
  </footer>
  -->
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>